<h1>Login</h1>
<%= form_tag "/login", method: :post do %>
  <div>
    <font color="black"><strong>Email: </strong>&emsp;<input type="email" name="email"></font>
  </div>
  <div>
    <font color="black"><strong>Password: </strong>&emsp;<input type="password" name="password"></font>
  </div>
  <input type="submit" value="Log In">
<% end %>