<h2>Purchase Confirmation Page</h2>

<div id="showWell" class="well">
  <h4>YOU SUCCESSFULLY PURCHASED:</h4>
  <br>
    <% @order_products.each do |ordered_product| %>
     <h4><%= ordered_product.quantity %> <%= ordered_product.product.name %></h4>
    <% end %>
</div>
