<h2>Checkout Page</h2>

<div id="showWell" class="well">
<h4>ALL ITEMS IN CART</h4>
    <% @carted_products.each do |carted_product| %>
      <br>
      <h4>Name: <%= carted_product.product.name %> | Quantity: <%= carted_product.quantity %>&emsp;
      <%= link_to "Delete", "/carted_products/#{carted_product.id}", {method: :delete, class: "btn btn-warning" } %>
      </h4>
      <br>
    <% end %>
    <p><%= button_to "Buy Now", "/orders", method: :post %></p>
</div>