<p><font color="black">Checkout Page!</font></p>


<% @carted_products.each do |carted_product| %>
  <p><font color="black"><%= carted_product.product.name %></font></p>
  <p><font color="black"><%= carted_product.quantity %></font></p>
  <%= link_to "Delete", "/carted_products/#{carted_product.id}", {method: :delete, class: "btn btn-danger" } %>
<% end %>

<p><font color="black"><%= button_to "Buy Now", "/orders", method: :post %></font></p>

