// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Rockwell;
  background-image: url("pikachu.jpeg");
}

h1 {
  text-align: center;
  color: black;
  margin: 40px 0px 50px 0px;
  font-family: Rockwell Extra Bold;
}

div {
  color: #FFF00A;
  font-size: large;
}

.discount-item {
  -webkit-animation: rainbow 1s infinite; 
  -ms-animation: rainbow 1s infinite;
  animation: rainbow 1s infinite; 
}

.img-responsive {
  display: block;
  margin: 0 auto;
}

.product_single_image {
  background-color: black;
}

@-webkit-keyframes rainbow{
  20%{color: red;}
  40%{color: yellow;}
  60%{color: green;}
  80%{color: blue;}
  100%{color: orange;}  
}

@-ms-keyframes rainbow{
  20%{color: red;}
  40%{color: yellow;}
  60%{color: green;}
  80%{color: blue;}
  100%{color: orange;}  
}

@keyframes rainbow{
  20%{color: red;}
  40%{color: yellow;}
  60%{color: green;}
  80%{color: blue;}
  100%{color: orange;}  
}

#indexWell {
  width: 75%;
  border-style: outset;
  border-color: #FEFEFE #654343;
  border-width: 10px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-color: #CB3805;
  }

#showWell {
  width: 70%;
  border-style: outset;
  border-color: #FEFEFE #654343;
  border-width: 10px;
  margin: 70px 0px 30px 150px;
  padding: 25px 70px;
  text-align: left;
  background-size: cover;
  background-position: center;
  background-color: #CB3805;
}


