<div id="showWell" class="well">

<h1><font color="yellow">Update Page</font></h1>

  <%= form_tag "/products/#{@product.id}", method: :patch do %>
    <div>
      <font color="black"><strong>Name:</strong>&emsp;<input type="text" name="name" value="<%= @product.name %>"></font>
    </div>
    <br>
    <div>
      <font color="black"><strong>Move:</strong>&emsp;<input type="text" name="description" value="<%= @product.description %>"></font>
    </div>
    <br>
    <div>
      <font color="black"><strong>Price:</strong>&emsp;<input type="text" name="price" value="<%= @product.price %>"></font>
    </div>

    <br>
    <br>
    <p style="text-align:center;"> <font color="black"><input type="submit" value="Update Pokemon"></font></p>
  <% end %>

</div>