<h1>Gotta catch 'em all!</h1>
<% @products.each_slice(3) do |three_products| %>
  <div class="row">
  <br>
  <br>
    <% three_products.each do |product| %>
      <div class="col-md-4">
        <div id="indexWell" class="well">
          <h2> <a href="/products/<%= product.id %>"><font color="#FDDEBD"><%= product.name %></font></a></h2>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
