
<% @products.each do |product| %>
  <p>ID: <%= product.id %></p>
  <p>Name: <%= product.name %></p>
  <p>Price: <%= product.price %></p>
  <p>Description: <%= product.description %></p>
  <hr>
<% end %>
