<div id="showWell" class="well">

  <h1><font color="yellow">Create a new Pokemon</font></h1>

  <%= form_tag "/products", method: :post do %>
    <div>
      <font color="black"><strong>Name:</strong>&emsp;<input type="text" name="name"></font>
    </div>
    <br>
    <div>
      <font color="black"><strong>Move:</strong>&emsp;<input type="text" name="description"></font>
    </div>
    <br>
    <div>
      <font color="black"><strong>Price:</strong>&emsp;<input type="text" name="price"></font>
    </div>

    <br>
    <br>
    <p style="text-align:center;"><font color="black"><input type="submit" value="Create!"></font></p>

  <% end %>

</div>