This is your product:

  <hr>
  <p>Name: <%= @product.name %></p>
  <p>Price: <%= @product.price %></p>
  <p>Description: <%= @product.description %></p>


<%= form_tag "/products/#{@product.id}", method: :delete do %>
  <input type="submit" value="Delete me!">
<% end %>